
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito:wght@300&family=Playfair+Display:ital,wght@1,500&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');


body{
  margin:0;
  
font-family: 'Roboto Slab', serif;
}

.main-part {

 text-align: center;
 background-image: radial-gradient(circle at 95% 0%, #c9d99e 0%, rgba(95, 213, 182, 0) 20%), linear-gradient(to bottom, #c9d99e -10%, rgba(121, 223, 255, 0) 70%), radial-gradient(circle at 95% 0%, rgba(91, 123, 80, 0.7) 0%, rgba(95, 213, 182, 0) 20%);
 
 padding: 0px;


}

.logo {
  max-width: 80%; /* Adjust based on preferred logo size on 500px screen */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 720px) {
  .logo {
    width: 31%;
    padding-top: 21px; /* Ensure logo fits within container on 500px screens */
  }
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:720px){
.heading > h1 div{
  text-align: center;
  display: block;
  position: none;
}


}




h1 div {
  font-size: 3rem;
  display: inline-block;
  margin: 0;
}


@media (max-width: 720px) {
  .paragraph-container >  .second {

    
      text-align: center; 
      
      display: block;
      font-weight:600;
  }
}











.email-subscribe-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  max-width: 720px; /* Limit container width on larger screens */
}

@media (max-width: 720px) {
  .email-subscribe-container {
    flex-direction: column;
    text-align: center; /* Center elements for vertical layout */
    display: inline;
    
  }

  .email-input {
    width: 30%;
  }
}


@media screen and (max-width: 720px){
  

.email-input {
  padding: 0.7rem .6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  border: 1px solid #829460;
}
}





@media only screen and (max-width:720px) {
.subscribe-button {
  background-color: #557153; /* Blue color */
  color: white;
  padding: 0.5rem .6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  
border-top-right-radius: 2.2px;

font-family: "roboto slab", sans-serif;

font-size: 1em;
}
}


@media (max-width: 720px) {
  button:hover {
  background-color: #4E6C50; 
  cursor: pointer;
}
}


@media screen and (max-width:720px){
.third{
  display: block;
  font-weight: 400;
  font-size: .9rem;
  word-spacing: 1.6px;
  
}

}

@media screen and (max-width:720px){

  section > p{
   padding-top:1px;

  }
}

.content{
  padding-top: 19px;
}



.pic-container {
  padding-top: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 720px; /* Set max-width for responsiveness */
  margin: 0 auto;
  padding-bottom: 1.7rem;
}

.picture-item {
  flex-basis: 33%; /* Each image takes up 1/3 of the width */
  margin-bottom: 20px;
  text-align: center;
}

img {
  width: 59%;
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 10px;
}


@media screen and (max-width:720px){
 .picture-item > img {
  width:95%;
  height: auto;
}
}




/* Media query for screens smaller than 720px */
@media (max-width: 720px) {
  .picture-item {
    flex-basis: 29%; /* Stack images on smaller screens */
    margin-bottom: 30px; /* Increase spacing for better readability */
  }
}













.another-container {
  background-color: #f6fffb;
  
  display: flex;
  align-items: center; /* Vertically align elements */
  margin: 0 auto; /* Center horizontally */
  padding-top: 1.3rem;
  
}

.sour-con {
  margin-right: .4rem; /* Distance between heading and image */
}

@media screen and (max-width:720px){
  .headi {
   font-size:2rem;
   font-family: "Roboto slab", serif;
   

 }

}






img {
  height: 100%; /* Ensure image scales responsively */
  width: auto;
}

@media screen and  (max-width: 720px) {
  .sour-con{
    display: block; /* Stack elements on small screens */
    
    justify-content: center;
    align-items: center;
    margin:  47px;
    
  }
}






@media screen and (max-width:720px) {
  

  img {
    padding-top: 35px;
    width:50%;
    margin-top: 0rem; /* Add spacing between heading and image */
  
  }
}







.double-container {
  background-color: #FFF4CF;
  
  display: flex;
  align-items: center; /* Vertically align elements */
  margin: 0 auto; /* Center horizontally */
  padding-top: 1.3rem;
  padding-bottom: 3.5rem;
  
}

.read-what {
  margin-right: .4rem; /* Distance between heading and image */
}

@media screen and (max-width:720px){
  .for {
   font-size:2rem;
   font-family: "Roboto slab", serif;
   padding-top: 2.2rem;
   

 }

}






img {
  height: 100%; /* Ensure image scales responsively */
  width: auto;
}

@media screen and  (max-width: 720px) {
  .read-what{
    display: block; /* Stack elements on small screens */
    
    justify-content: center;
    align-items: center;
    margin-right:auto;
    
  }
}






@media screen and (max-width:720px) {
  

  img {
    padding-top: 35px;
    width:40%;
    margin-left:auto; /* Add spacing between heading and image */
    margin-right: 20px;
  
  }
}





















@media screen and (max-width:720px) {
  .headja{
   background-color: #000000;
  }
  
}

@media screen and (max-width:720px){
  .headja h1  {
   padding-top: 3rem;
   
   color: white;
   

  }

}





@media (max-width:720px){
  .headja > .different {
  align-items: center;
    display:block;

    
  }
  
  
  }
  
  
  
  
  

  @media screen and (max-width:720px){
    .paragraph-container
    {
     
     color: white;
    }
  }
  
  
  @media (max-width: 720px) {
    .paragraph-container >  .second {
  
      
        text-align: center; 
        
        display: block;
        font-weight:600;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  .email-subscribe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    max-width: 720px; /* Limit container width on larger screens */
  }
  
  @media (max-width: 720px) {
    .email-subscribe-container {
      flex-direction: column;
      text-align: center; /* Center elements for vertical layout */
      display: inline;
      
    }
  
    .email-input {
      width: 30%;
    }
  }
  
  
  @media screen and (max-width: 720px){
    
  
  .email-input {
    padding: 0.7rem .6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    border: 1px solid #829460;
  }
  }
  
  
  
  
  
  @media only screen and (max-width:720px) {
  .subscribe-button {
    background-color: #557153; /* Blue color */
    color: white;
    padding: 0.5rem .6rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  
    
  border-top-right-radius: 2.2px;
  
  font-family: "roboto slab", sans-serif;
  
  font-size: 1em;
  }
  }
  
  
  @media (max-width: 720px) {
    button:hover {
    background-color: #4E6C50; 
    cursor: pointer;
  }
  }
  
  
  @media screen and (max-width:720px){
  .third{
    display: block;
    font-weight: 400;
    font-size: .9rem;
    word-spacing: 1.6px;
    
  }
  
  }
  
  @media screen and (max-width:720px){
  
    section > p{
     padding-top:1px;
  
    }
  }
  
  
  
  
  
  
  
  
  
  

  
  
  
  
 
  
  


















































