
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Nunito:wght@300&family=Playfair+Display:ital,wght@1,500&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');


body{
  margin:0;
  font-family: 'Noto Serif', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
}

.main-part {
 text-align: center;
 background-image: radial-gradient(circle at 95% 0%, #c9d99e 0%, rgba(95, 213, 182, 0) 20%), linear-gradient(to bottom, #c9d99e -10%, rgba(121, 223, 255, 0) 70%), radial-gradient(circle at 95% 0%, rgba(91, 123, 80, 0.7) 0%, rgba(95, 213, 182, 0) 20%);
 
 padding: 35px;


}
  


h1{
  color:black;
  width: 100%;
 text-align: center;
  margin-top: 0px;
  font-size:4.4rem;
  font-weight: 900;
 word-spacing: 5px;

  
}
@media (max-width: 768px) {
  h1 {
    height: 50px; /* Reduce header height for smaller screens */
    font-size: 30px; /* Reduce font size */
    margin-top: -16px;
    text-align: center;
    
  }
}



@media (max-width: 768px) {
  img {
    height: 20px; /* Reduce header height for smaller screens */
    width:125px;
    align-items: center;
  
  }
}

p{
  margin-top: 0px;
  font-size: 1.1em;
  font-weight: 550;
}


@media (max-width: 768px) {
  p {
    padding: 26px;
    align-items: center;
  
  }
}

img

{ padding-bottom: 26px; }  





#subscribe-form {
  
    
  margin: 0 auto; /* Centers the form horizontally */
  display: flex;
  justify-content: center; /* Centers content horizontally */
  align-items: center; 

  place-items: center; 








}
#email {

padding: 8px 40px;
padding-left: 21px;
text-decoration-color: red;
border-top-right-radius: none;
border: 1px solid #829460;
font-size: 1em;
}


button {

background-color: #557153; /* Green background */
color: white;
border-top-right-radius: 2.2px;
padding: 7.3px 11px;
font-family: "roboto slab", sans-serif;
border: none;
font-size: 1em;
}
 
@media (max-width: 768px) {
  #subscribe-form{
    margin-top: -20px;
  
  }
}
@media (max-width: 768px) {
  button{
    padding: 7.6px 11px;
  
  }
}

section > p{
  padding: 32px;
  font-size: .8em;
  font-weight: 340;
  line-height: 1.9em;
}

@media (max-width: 768px) {
  section > p{
    padding:25px;
  
  }
}

.content{
  font-size: 2.6em;
}


.container img {
  
  width: 40%; /* Adjust width as needed */
  align-items: center;
  justify-content: center; /* Distribute images evenly */

}

.image-wrapper{

  margin-right: 1px;
}


.container {
display: flex;

align-items: center;
justify-content: center;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
   /* Optional spacing */
}
.container img:last-child {
  margin-right: 0; /* Remove margin for the last image */
}

.container .news-image  p{
  margin: 0px;

}

@media (max-width: 768px) {
  .container .news-image   p{
    margin-top: 0px;
  
  }
}


@media (max-width: 768px) {
  .container .image-wrapper  {
      display: flex;
      align-items: center;
      flex-direction: column;
        width:40%;
        
         /* Optional spacing */

  }
}
@media (max-width: 768px) {
  .container img  {
    
  width:40%;

  }
}

.form-container h3{
 font-size: 2.1em;
 padding-top: 60px;
 

}

.form-container p{
  margin-top: 0px;

}

.form-container img{
  float:right;

}



